.wrap {
    background: url('./../../../public/Header/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    max-width: 500px;
}
.subtilte {
    color: #fff;
    margin: 24px 0 40px;
}
.btn:hover {
    border-color: #fff;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 34px;
    }
    .subtitle {
        margin: 18px 0 32px;
    }
    .wrap {
        padding: 160px 0;
    }
  }
  @media screen and (max-width: 576px) {
    .title {
        font-size: 28px;
    }
    .subtitle {
        margin: 18px 30px;
    }
    .wrap {
        padding: 120px 0;
    }
  }